* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 450px;
    margin: 5px;
    overflow: hidden;
}

.before-price {
    color: rgb(97, 96, 96);
    text-decoration: line-through;
    font-size: .72rem;
    margin-right: 1.5px;

}

.card-image{
    width: 200px;
    height: 220px;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-div {
    width: 6rem;
    height: 1.5rem;
}

.icon-div {
    margin-left: 2rem;
}

.button-cart {
    width: 1rem;
    height: 1.5rem;
    cursor: pointer;
}

.star-icon {
    color: rgb(173, 98, 41);
}

.ratings > span{
    font-size: 11px;
    font-weight: 600;
}

.navigation-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 45rem;
    border: 2px solid black;
    width: 35rem;
    height: 2.5rem;
    list-style-type: none;
    text-decoration:wavy;

}

.navigation {
    margin-top: 2rem;
}

.navigation > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    font-weight: 600;
    font-size: large;
    background-color: red;
    text-decoration: none;
}
