* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.payment-logo {
  width: 4.5rem;
  height: 2.3rem;
}

.follow-logo {
  margin-right: 1rem;
}

.footer-content h4 {
  margin-bottom: 1.5rem;
}

footer > p {
  margin-top: 3rem;
}
