* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    height: 7vh;
    display: flex;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
}

.nav-logo {
    width: 3rem;
    height: 2rem;
}

.account {
    cursor: pointer;
    width: 3rem;
    height: 2.3rem;
    color: rgb(255, 193, 7);
}